<div class="container">
  	<div class="jumbotron jumbotron-fluid">
        <h1>Catarsinho</h1>
        <p class="lead">Bem-vindo ao catarsinho onde você pode criar pequenos projetos de arrecadação.</p>
        <p class="lead">Venha criar o seu projeto também! <%= link_to "Entrar", new_user_session_path, class: "btn btn-link" %></p>
    </div>
</div>
